@import "common.scss";
@import "_minix.scss";
html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    @include box_flex;
    @include direction(column);
    background: #F7F6F5;
    >img {
        width: 100%;
        display: block;
    }
    .log {
        ul {
            li {
                button {}
                a {}
            }
        }
    }
    .kind {
        ul {
            li {
                img {}
                span {}
            }
        }
    }
}